.notification {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    width: 90%;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .notification p {
    margin: 0;
    padding-left: 30px; /* adiciona espaço para o ícone */
  }
  
  .notification button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #333; /* torna o botão de fechamento mais visível */
  }
  
  .notification-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    z-index: 1; /* define o z-index do ícone como 1 para que fique na frente da mensagem de erro */
  }
  
  .notification-icon svg {
    height: 100%;
    width: 100%;
  }